.Container {
    display: flex;
    gap: 16px;
    width: 90%;
    padding: 8px;

}

.Section {
    margin: 0 auto 12px;
    width: 90%;
    background-color: #f7e1d7;
    border-radius: 4px;
    padding:8px;
}